<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Saved Articles</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/"><button style="float-left;">Home</button></a>
        </div>
    </div>

</div>