<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <nav class="navbar navbar-dark bg-primary">
                <h1>Saved Articles</h1>


                <a href="/">
                    <button id="save-home-button" class="btn btn-success">Home</button>
                </a>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="Article" style="padding-right:2%; padding-top:2%;">
                {{#each Article}}
                <hr>
                <h4>
                    <strong>{{this.headline}}</strong>
                </h4>
                <a href="{{this.link}}">{{this.link}}</a>
                <p>{{this.summary}}</p>
                <hr> 
                {{/each}}
            </div>
        </div>
    </div>

</div>