<div id="container text-center" style="margin: 5%;">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Scraped Articles</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/saved"><button>Saved Articles</button></a>
            <a href="/"><button style="margin-left:5%">Home</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="articles" style="padding-right:5%; padding-top:3%">

                {{#each articles}}
                <hr>



                <hr>

        </div>
    </div>
</div>