body{
    background-image: url("./assets/browser-computer-depth-of-field-177557.jpg")
}
.articles {
    background-color: rgb(250, 248,248, 0.7);
}

h4{
    font-size: 35px;
}
p{
    font-size:24px;
}
#notes-entry{
    background-color: rgb(250, 248,248, 0.7); 
}